# Session2

- two types of function
- 1)pre-defined function
- 2)user defined function

In [2]:
len("ETLHIVE")

7

In [5]:
lst=[2,3,4,5,6,7,8,9]
len(lst)

8

# User defined

In [6]:
# print table of any number

In [12]:
def print_table(n):
    for i in range(1,11):
        print(n*1)

In [14]:
print_table(6)

6
6
6
6
6
6
6
6
6
6

In [15]:
lst=[3,5,7,8,9,23,45,67]

In [33]:
def print_square(l):
    for i in l:
        print(i*i)

In [37]:
print_square(lst)

9
25
49
64
81
529
2025
4489

In [38]:
def cal_cube(n):
    print(f"cube of a number {n} is {n*n*n}")

In [40]:
cal_cube(9)

cube of a number 9 is 729

In [41]:
# with return
def cal_square(n):
    return n*n

In [42]:
cal_square(5)

25

In [43]:
# def function_name(parameter list):
#     logical part

In [44]:
# defining a function
def greet():
    print("Welcome to etlhive")

In [45]:
# calling a function
greet()
greet()
greet()
greet()
greet()

Welcome to etlhive
Welcome to etlhive
Welcome to etlhive
Welcome to etlhive
Welcome to etlhive

In [46]:
greet()

Welcome to etlhive

In [50]:
# function with parametre
def greet1(Pratham):
    print(f"welcome to ETHLHIVE {Pratham}")

In [51]:
# calling
greet1("Pratham")

welcome to ETHLHIVE Pratham

In [53]:
greet1("Pratham")

welcome to ETHLHIVE Pratham

In [60]:
def multiplication(a,b):
    print(f"multipication of {a,b} is {a*b}")

In [62]:
multiplication(3,5)

multipication of (3, 5) is 15

In [63]:
def add(a,b):
    print(f"add of {a,b}")

In [64]:
add(2,5)

add of (2, 5)

In [65]:
def cube(n):
    print(f"cube of a number {n} {n*n*n}")

In [66]:
cube(5)

cube of a number 5 125

In [67]:
lst=[1,2,3,4,5]

In [78]:
def sum_of_element_in_a_list(lst):
    s=0
    for i in lst:
        s=s+i
        print(f"sum of all values in a list is {s}")

In [79]:
sum_of_element_in_a_list(lst)

sum of all values in a list is 1
sum of all values in a list is 3
sum of all values in a list is 6
sum of all values in a list is 10
sum of all values in a list is 15

In [88]:
def multiplication_of_element_in_a_list(lst):
    s=1
    for i in lst:
        s=s*i
    print(f"multiplication of all values in a list is {s}")

In [89]:
multiplication_of_element_in_a_list(lst)

multiplication of all values in a list is 120

In [90]:
# Write a function in python to calculate product of all element inside a list

In [91]:
# write a function in python to calculate hypotenuse of a right angled triangle.
# (AC)^2=(AB)^2+(BC)^2
# c^2=a^2+b^2
# c=(a^2+b^2)^0.5

In [92]:
def cal_hypotenuse(a,b):
    hypotenuse=(a**2+b**2)**0.5
    print("hypotenuse of triangle=",hypotenuse)

In [93]:
cal_hypotenuse(4,5)

hypotenuse of triangle= 6.4031242374328485

In [94]:
# write a function in python which takes 3 sides and determines whether 3 sides
# form triangle or not.

In [98]:
def verify_triangle(a,b,c):
    if a<b+c and b<a+c and c<a+b:
        print("it is forming a triangle")
    else:
        print("it is not forming a triangle")

In [99]:
verify_triangle(4,5,6)

it is forming a triangle

In [100]:
# write a function in python that calculates area of triangle when 3 sides are given

In [108]:
def cal_area(a,b,c):
    s=(a+b+c)/2
    area=s*(s-a)*(s-b)*(s-c)
    print(f"Area of triangle is {area}")

In [109]:
cal_area(15,17,12)

Area of triangle is 7700.0